<% layout('layouts/boilerplate') %>

<div class="row">
    <div class="col-6 offset-3">
        <p>Userame : <%= currentUser.username  %> </p>
        <p>Email: <%= currentUser.email  %></p> 
        <p>Role: <%= currentUser.role  %> </p>
    </div>
</div>